

.main-menu {
  background: rgba(227,227,227,0.0);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  .menu-wrapper {
    max-width: 500px;
    margin: 150px auto 0;
    padding: 35px;
    background: white;
    border-radius: 5px;

    box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);

    .score {
      display: flex;
      justify-content: center;
      font-size: 22px;
      margin-bottom: 20px;
      .score-num {}
    }
  }
}

.btn {
  //border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  cursor: pointer;
  background: rgb(250,250,250);

  box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);

  &--start {}
  &--resume {}

  &:hover {
    background: rgb(240,240,240);
  }
}