
.overlay {
  background: rgba(227,227,227,0.0);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  pointer-events: none;

  display: flex;
  justify-content: space-between;

  .score-ui {
    margin-top: 5px;
    margin-left: 15px;
    .score-num {
      color: red;
    }
  }

  .warning-info {
    display: flex;
    flex-direction: column;

    margin-top: 5px;
    margin-right: 15px;
  }
}